* {
    box-sizing: border-box;/* Importante para 
    que la división de columnas se refleje. */
}

body {
  font-family: Arial, Helvetica, sans-serif;/* Estilo de texto general. */
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  color: goldenrod;
    background-image: url(../SiteImage/Minas_Tirith.jpg);/* imagen de background del header. */
    background-repeat: no-repeat;/* Lo utilice para que no hayan multiples imagenes del background.  */
    background-size: cover;/* Esto para que la imagen estire, o se disminuya, en tamaño 
    al navegador cambiar de tamaño.*/
}
span { /* Para cambiar el estilo de "EVERYTHING" en el header. */
    color: black; 
    font-family: fantasy;
}


.header h1 {
  font-size: 60px;
}

.navbar { /* Para el estilo de la barra de navegación bajo el Header.  */
  overflow: hidden;
  background-color: goldenrod;
}

.navbar a { /* Especifico para las palabras en la barra de navegación superior.  */
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
 
}
.navbar a.right { /* Para la palabra en la barra de navegación a la derecha "Other".  */
  float: right;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.row {  /* Para todo el contenido bajo la barra de navegación. Que sea flexible con el tamaño del navegador. */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.side { /* Para la columna izquierda, flexible con tamaño y espacio, editar colores. */
  -ms-flex: 30%;
  flex: 30%;
  background-color:#333;
  padding: 20px;
    color: white;
}
.main {   /* Para la columna principal (derecha). Editar flexibilidad, y color de fondo.  */
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.img { /* Incluir y editar la imagen superior de la columna principal. */
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  background-image: url(../SiteImage/Rise.png);
  background-color:transparent; /* para evitar que se vea el borde o la caja donde va la imagen.  */
    background-repeat: no-repeat; /* Para que no repita la imagen para llenar el espacio automaticamente. */
  height:200px;
    /* Decidi no utilizar "float" ya que las imagenes caian bien donde estaban. */
}
.img2 { /* Lo mismo que arriba */
  background-color: transparent;
  width: 100%;
    height: 200px;
    padding-top: 500px;
    background-image: url(../SiteImage/TOR.jpg);
    background-repeat: no-repeat;
    background-position: left; /* Decidi ponerlo hacia la izquierda, se veia estéticamente mejor (para mi). */
}
.footer {
  padding: 20px;
  text-align: left;
  background: goldenrod;
}
@media screen and (max-width: 700px) { /* Maneja flexibilidad general de ambas columnas en conjunto. */
  .row {   
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {/* Se enfoca en la flexibilidad general de la barra de navegación con palabras. */
  .navbar a {
    float: none;
    width: 100%;
  }
}